* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}


:root {
	--light-blue: #4376B6;
	--blue: #294691;
  --green: #229942;
}


body {
  background-color: white;
  background-image:  url('./assets/bg-papel.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: fixed;
  color: #111;
  /* TODO: adicionar a font correta */
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* HEADER */


header {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 10px;
}

header span {
  text-align: center;
  font-weight: bold;
}

header span#connect {
  transform: rotate(-7deg);
}

header span{
  text-align: center;
  font-weight: 900;
  font-style: italic;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

header span > span {
  display: block;
}

header img {
  position: absolute;
  height: 100px;
}

header img#like1 {
  top: 300px;
  left: 270px;
  height: 150px;
  width: 150px;
  transform: rotate(-7deg);
  z-index: 1;
}

header img#like2 {
  top: -150px;
  left: -250px;
  height: 500px;
  width: 500px;
  transform: rotate(-15deg);
  z-index: 1;
  filter: blur(5px);
}

header img#like3 {
  top: 400px;
  left: -20px;
  height: 300px;
  width: 300px;
  filter: blur(2px);
  z-index: 1;
}

header img#heart1 {
  top: 300px;
  right: 300px;
  height: 120px;
  width: 120px;
  transform: rotate(7deg);
  z-index: 1;
}

header img#heart2 {
  top: 300px;
  right: -280px;
  height: 500px;
  width: 500px;
  transform: rotate(-25deg);
  z-index: 1;
  filter: blur(5px)
}

header img#support {
  top: 20px;
  right: 50px;
  height: 250px;
  width: 250px;
  z-index: 1;
}

header img#social {
  opacity: 1;
  top: 0px;
  height: auto;
  width: 1000px;
}


/* INSTAGRAM */

section.instagram {
  position: relative;
  background: white url('./assets/bginsta.png') no-repeat;
  background-size: cover;
  height: 800px;
  text-align: center;
  width: 100%;
}

section.instagram img {
  margin-top: -25px;
  height: 850px;
  box-shadow: 0.5px 10px 30px rgba(0, 0, 0, 0.5);
}

section.instagram h1 {
  position: absolute;
  bottom: 50px;
  right: 50px;
  text-align: right;
  color: white;
}

section.instagram h1 span {
  display: block;
}

section.instagram h1 span + span {
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

section.instagram h1 span + span img {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

section.instagram h1 span:first-child {
  font-size: 2.5rem;
}

section.instagram h1 span:not(:first-child) {
  font-weight: 300;
  font-size: 1.8rem;
}

/* SERVICES */

section.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

section.services h1 {
  font-size: 1.8rem;
}

section.services div.cards {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

div.cards div.card {
  padding: 30px;
  border-radius: 45px;
  background-color: var(--blue);
  width: 360px;
  color: white;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: transform .2s ease-out, box-shadow .2s ease-out;
}

div.cards div.card:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

div.cards div.card.big {
  width: 400px;
  background-image: linear-gradient(to right bottom, var(--light-blue), var(--blue));
  border: 3px solid var(--green);
  height: auto;
}

div.cards div.card h2 {
  text-align: center;
  font-weight: 900;
  font-style: italic;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

div.cards div.card.big h2 {
  font-size: 2.8rem;
}

div.cards div.card h2 span {
  display: block;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

div.cards div.card.big h2 span {
  font-size: 1.3rem;
}

div.cards div.card ul {
  list-style: none;
  margin: 20px 10px 40px;
}

div.cards div.card ul li + li {
  margin-top: 15px;
}

div.cards div.card ul li h4 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}

div.cards div.card.big ul li h4 {
  font-size: 1.3rem;
}

div.cards div.card:last-child ul li h4 {
  font-size: 1.8rem;
}

div.cards div.card ul li h4 span:first-child {
  display: block;
}

div.cards div.card ul li h4 b {
  font-weight: bold;
}

div.cards div.card ul li h4 span:last-child {
  font-size: 0.8rem;
  text-transform: lowercase;
  font-weight: 400;
}

div.cards div.card.big ul li h4 span:last-child {
  font-size: 1.1rem;
}

div.cards div.card h3 {
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 2rem;
}

div.cards div.card.big h3 {
  font-size: 2.3rem;
}

div.cards div.card h3 span:first-child {
  display: block;
  font-size: 0.8rem;
}

div.cards div.card h3 span:last-child {
  font-size: 1.2rem;
  font-weight: 700;
}

div.cards div.card section {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
}

div.cards div.card section p:first-child {
  font-size: 0.7rem;
}

div.cards div.card section p:last-child {
  font-size: 0.8rem;
  margin-top: 10px;
}

section.services footer p {
  margin-top: 30px;
  font-size: 2rem;
  font-style: italic;
}



