* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  font-size: calc(0.2em + 1vw);

  --light-blue: #4376b6;
  --blue: #294691;
  --green: #229942;
}

body {
  background-color: white;
  background-image: url("./assets/bg-papel.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: fixed;
  color: #111;
  /* TODO: adicionar a font correta */
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* HEADER */

header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.3em 0 0.8em;
}

header span {
  text-align: center;
  font-weight: bold;
}

header span#connect {
  transform: rotate(-7deg);
}

header span {
  text-align: center;
  font-weight: 900;
  font-style: italic;
  font-size: 1.8rem;
}

header span > span {
  display: block;
}

header img {
  position: absolute;
  height: 6em;
}

header img#like1 {
  top: 18.75em;
  left: 16.87em;
  height: 9.3em;
  width: 9.3em;
  transform: rotate(-7deg);
  z-index: 1;
}

header img#like2 {
  top: -9.3em;
  left: -16.87em;
  height: 32.25em;
  width: 32.25em;
  transform: rotate(-15deg);
  z-index: 1;
  filter: blur(5px);
}

header img#like3 {
  top: 25em;
  left: -1.2em;
  height: 18.75em;
  width: 18.75em;
  filter: blur(2px);
  z-index: 1;
}

header img#heart1 {
  top: 18.75em;
  right: 18.75em;
  height: 7.5em;
  width: 7.5em;
  transform: rotate(7deg);
  z-index: 1;
}

header img#heart2 {
  top: 18.75em;
  right: -17.5em;
  height: 32.25em;
  width: 32.25em;
  transform: rotate(-25deg);
  z-index: 1;
  filter: blur(5px);
}

header img#support {
  top: 1.2em;
  right: 3.1em;
  height: 15.6em;
  width: 15.6em;
  z-index: 1;
}

header img#social {
  opacity: 1;
  top: 0px;
  height: auto;
  max-width: 1000px;
  width: 100%;
}

/* INSTAGRAM */

section.instagram {
  position: relative;
  background: white url("./assets/bginsta.png") no-repeat;
  background-size: cover;
  height: 50em;
  text-align: center;
  width: 100%;
}

section.instagram img {
  margin-top: -1.6em;
  height: 52em;
  box-shadow: 0.5px 10px 30px rgba(0, 0, 0, 0.5);
}

section.instagram h1 {
  position: absolute;
  bottom: 2em;
  right: 2em;
  text-align: right;
  color: white;
}

section.instagram h1 span + span {
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

section.instagram h1 span + span img {
  height: 1em;
  width: 1em;
  margin-right: 5px;
}

section.instagram h1 span:first-child {
  font-size: 2.5rem;
}

section.instagram h1 span:not(:first-child) {
  font-weight: 300;
  font-size: 1.8rem;
}

/* SERVICES */

section.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.3em;
}

section.services h1 {
  font-size: 1.8rem;
}

section.services div.cards {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

div.cards div.card {
  padding: 30px;
  border-radius: 45px;
  background-color: var(--blue);
  width: 22.5em;
  color: white;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

div.cards div.card:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

div.cards div.card.big {
  width: 23em;
  background-image: linear-gradient(
    to right bottom,
    var(--light-blue),
    var(--blue)
  );
  border: 3px solid var(--green);
  height: auto;
}

div.cards div.card h2 {
  text-align: center;
  font-weight: 900;
  font-style: italic;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

div.cards div.card.big h2 {
  font-size: 2.8rem;
}

div.cards div.card h2 span {
  display: block;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

div.cards div.card.big h2 span {
  font-size: 1.3rem;
}

div.cards div.card ul {
  list-style: none;
  margin: 1.3em 0.6em 2.3em;
}

div.cards div.card ul li + li {
  margin-top: 1em;
}

div.cards div.card ul li h4 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}

div.cards div.card.big ul li h4 {
  font-size: 1.3rem;
}

div.cards div.card:last-child ul li h4 {
  font-size: 1.8rem;
}

div.cards div.card ul li h4 span:first-child {
  display: block;
}

div.cards div.card ul li h4 b {
  font-weight: bold;
}

div.cards div.card ul li h4 span:last-child {
  font-size: 0.8rem;
  text-transform: lowercase;
  font-weight: 400;
}

div.cards div.card.big ul li h4 span:last-child {
  font-size: 1.1rem;
}

div.cards div.card h3 {
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 1.2em;
  font-size: 2rem;
}

div.cards div.card.big h3 {
  font-size: 2.3rem;
}

div.cards div.card h3 span:first-child {
  display: block;
  font-size: 0.8rem;
}

div.cards div.card h3 span:last-child {
  font-size: 1.2rem;
  font-weight: 700;
}

div.cards div.card section {
  text-align: center;
  margin-top: 2.3em;
  font-weight: bold;
}

div.cards div.card section p:first-child {
  font-size: 0.7rem;
}

div.cards div.card section p:last-child {
  font-size: 0.8rem;
  margin-top: 10px;
}

section.services footer p {
  margin-top: 1.9em;
  font-size: 2rem;
  font-style: italic;
}

@media (max-width: 1060px) {
  section.services div.cards {
    flex-direction: column;
  }

  div.cards div.card + div.card {
    margin-top: 1em;
  }
}

@media (max-width: 1200px) {
  header img#like2 {
    top: -16em;
  }

  header img#like1 {
    display: none;
  }

  header img#heart1 {
    display: none;
  }

  section.instagram {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
  }

  section.instagram h1 span + span {
    justify-content: center;
  }

  section.instagram img {
    height: 40em;
    width: 22em;
  }

  section.instagram h1 {
    position: relative;
    bottom: 0em;
    right: 0em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }


  section.instagram h1 span:first-child {
    font-size: 2rem;
  }

  section.instagram h1 span:not(:first-child) {
    font-size: 1.3rem;
  }

}

@media (max-width: 790px) {
  :root {
    font-size: calc(0.5em + 1vw);
  }

  header img#like2 {
    height: 25em;
    width: 25em;
    top: -13em;
  }

  header img#support {
    top: 1.2em;
    right: -8em;
    height: 13em;
    width: 13em;
    z-index: 1;
  }
}

@media (max-width: 650px) {
  header img#social {
    top: 2em;
  }

  header img#heart2 {
    height: 25em;
    width: 25em;
  }
}
